:host {
    margin: 2px;
    display: block;
}

.header-row {
    display: inline-block;
    width: 100%;
}

.header-row label {
    width: 60%;
    cursor: help;
    display: inline-block;
}

.header-row input {
    float: right;
    z-index: -1;
    width: 30%;
    display: inline-block;
}


.slider {
    padding: 5px 0 5px 0;
    display: flex;
}

span {
    padding: 0 5px 0 5px;
}

input[type="range"] {
    width: 0px;
    margin: auto;
    flex: auto; 
}

label {
    font-size: 15px;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 12px;
    color: gray;
}

input[type="number"] {
    text-align: center;
}