<div class="main-wrap">
    <div mwlResizable 
            [resizeEdges]="{bottom: false, right: true, top: false, left: false}"
            [enableGhostResize]="true"
            [validateResize]="validateSidebarResize"
            [ngStyle]="sidebarStyle"
            (resizeEnd)="onSidebarResizeEnd($event)"
             class="sidebar"><sidebar></sidebar></div>
    <div [ngStyle]="contentStyle" class="content">
        <div class="content-container">
            <webgl-view class="webgl"></webgl-view>
        </div>
    </div>
</div>