:host {
    display: block;
}

h3, h4 {
    margin: 0;
    font-weight: normal;
}

.noise-header {
    width: 100%;
    border: none;
    text-align: left;
    background-color: #dedede;
}

.noise-header.selected {
    color: white;
    background-color: dodgerblue;
}

.noise-header * {
    display: inline-block;
}

.noise-header.selected:hover {
    background-color: dodgerblue;
}

.noise-header:hover {
    background-color: #efefef;
}

ul {
    padding-left: 20px;
    margin: 0 0;
}

li {
    list-style-type: none;
    background-color: #F3F3F3; 
}

li:hover {
    background-color: #dedede;    
}

.toggleContainer {
    width: 17px;
    height: 17px;
}