:host {
    display: block;
}

button {
    cursor: context-menu;
}

.tree-node {
}

h3, h4 {
    margin: 0;
    font-weight: normal;
}

.noise-header {
    width: 100%;
    font-size: 14px;
    height: 22px;
    border: none;
    text-align: left;
    background-color: #F3F3F3;
}

.noise-header.selected {
    color: white;
    background-color: #3399FF;
}

.noise-header * {
    display: inline-block;
}

.noise-header.selected:hover {
    background-color: #3399FF;
}

.noise-header:hover {
    background-color: #F0F0F0;
}

ul {
    margin: 0 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    background-color: #F3F3F3; 
}

li:hover {
    background-color: #dedede;    
}

.toggleContainer {
    width: 17px;
    height: 17px;
}