<div (contextmenu)="onContextMenu($event)" class="tree-node">
    <button (click)="toggleShowChildren()" [class.selected]="selectedNoise" class="noise-header">
        <div [style.margin-left]="xoffset+'px'">
            <div class="toggleContainer" >
                <i *ngIf="!showChildren" class="fa fa-caret-right"></i>
                <i *ngIf="showChildren" class="fa fa-caret-down"></i>
            </div>
            <h3>{{ noiseModel.type }}</h3>
        </div>
        <context-menu></context-menu>
    </button>
    <ul [hidden]="!showChildren">
        <li *ngFor="let child of noiseModel.children">
            <noise-tree [xoffset]="xoffset + 10" [noiseModel]="child"></noise-tree>
        </li>
    </ul>
</div>
