:host {
    background-color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1000px) {
    .option {
        width: 25%;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .option {
        width: 33%;
    }
}

@media (min-width: 401px) and (max-width: 799px) {
    .option {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .option {
        width: 100%;
    }
}

.option {
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0);
}

label {
    font-weight: bold;
}