<h1> Noise Visualizer </h1>
<div class="display-options">
	<div class="section-header" (click)="toggleSection('displayOptions')">
		<div class="toggle-container">
			<i *ngIf="!toggled.displayOptions" class="fa fa-caret-right"></i>
			<i *ngIf="toggled.displayOptions" class="fa fa-caret-down"></i>
		</div>
		<h2 >Display Options</h2>
	</div>
	<three-d-options [hidden]="!toggled.displayOptions"> </three-d-options>
</div>
<div class="noises">
	<div class="section-header" (click)="toggleSection('noiseTree')">
		<div class="toggle-container">
			<i *ngIf="!toggled.noiseTree" class="fa fa-caret-right"></i>
			<i *ngIf="toggled.noiseTree" class="fa fa-caret-down"></i>
		</div>
		<h2 [style.cursor]="'help'" title="Right click items on the noise tree to see a context menu that allows you to select, add, or delete noise.">Noise Tree</h2>
	</div>
	<noise-tree [hidden]="!toggled.noiseTree" [xoffset]="0" [root]="true" [noiseModel]="baseNoise"></noise-tree>
</div>
<div class="noise-options">
	<div class="section-header" (click)="toggleSection('noiseOptions')">
		<div class="toggle-container">
			<i *ngIf="!toggled.noiseOptions" class="fa fa-caret-right"></i>
			<i *ngIf="toggled.noiseOptions" class="fa fa-caret-down"></i>
		</div>
		<h2  [style.cursor]="'help'" title="To modify the options of a different noise, select a different one using the noise tree above.">Noise Options</h2>
	</div>
	<noise-options [hidden]="!toggled.noiseOptions"></noise-options>
</div>
<div class="stringified-noise">
	<div class="section-header" (click)="toggleSection('stringifiedNoise')">
		<div class="toggle-container">
			<i *ngIf="!toggled.stringifiedNoise" class="fa fa-caret-right"></i>
			<i *ngIf="toggled.stringifiedNoise" class="fa fa-caret-down"></i>
		</div>
		<h2>Stringified</h2>
	</div>
	<stringified-noise [hidden]="!toggled.stringifiedNoise"></stringified-noise>
</div>