.tab-container  {
    display: flex;
    width: 100%;
}

.tab {
    background-color: #ddd;
    flex: 1;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.tab.selected {
    background-color: #bbb;
}

.tab-content {
    margin: 0;
    background-color: #dfdfdf;
}

.tab-content h2 {
    font-size: 25px;
    margin: 0;
}

.noises h2 {
    font-size: 15px;
    height: 17px;
    padding: 5px 5px 5px 0;
    text-transform: uppercase;
    margin: 0 0;
}

.debugTable {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.debugTable * {
    font-weight: 300;
}